body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: weight !important;
    font-style: normal !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("/assets/background.png") !important;
    background-size: cover !important; /* Makes the image cover the whole screen */
    background-position: center !important; /* Centers the image */
    background-repeat: no-repeat !important; /* Prevents image repetition */
}
.container{
    flex: 1;
}
/* navbar */
.navbar{
    padding: 10px 20px;
    background-color: #fff;
}
/* nav-icon */
.nav-link {
    color: black !important;
}
/* footer */
.f-info{
    height: 20%;
    margin-bottom: 0;
}
.f-info-links a {
     text-decoration: none;
     color: #222222;
}
.f-info-links a:hover{
   text-decoration: underline;
}
.f-info-links , .f-info-socials , .f-info-brand{
    width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i {
  font-size: 1.2rem;
  height: 2rem;
  margin-right: 1rem;
}
.fa-facebook:hover{
  color: #1877F2;
}
.fa-square-instagram:hover{
    color: #c13584;
}
.fa-linkedin:hover{
    color: #0a66c2;
}
.f-info{
     text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* card-styling */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
    transition: transform 0.3s ease-in-out;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}
.listing-card:hover{
    transform: scale(0.95);
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover I !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important;
}
.listinglink{
    text-decoration: none;
}
/* card effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
    /* transform: scale(0.95); */
}
/* new page  */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
/* edit page  */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;   
}
/* show page  */
.show-image{
    height: 30vh;
}
.edit-and-delete{
    display: flex;
    justify-content: space-between;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}
